{% extends 'enterprise/enterprise_base.html' %}
{% load static %}

{% block title %}
    Add Product
{% endblock title %}

{% block body %}
<section class="conatiner-fluid">
    <div class=" container page-header">
      <h6>Add Products</h6>
    </div>
    <div class="container">
        <form enctype="multipart/form-data" method="POST"  class="add-item">
            {% csrf_token %}
            <table cellpadding="10px">  
                 {{form.product_enterprsie}}
                <tr>
                    <td><label>Product-categories:</label></td>
                    <td>{{form.product_categories}}</td>
                </tr>
                <tr>
                    <td><label>Product-Name:</label></td>
                    <td>{{form.product_name}}</td>
                </tr>
                <tr>
                    <td><label>Product-Image:</label></td>
                    <td>{{form.product_img}}</td>
                </tr>
                <tr>
                    <td><label>Price:</label></td>
                    <td>{{form.Price}}</td>
                </tr>
                 <tr>
                    <td><label>Description:</label></td>
                    <td>{{form.Description}}</td>
                </tr>
                 <tr>
                    <td><label>Product-qty:</label></td>
                    <td>{{form.product_qty}}</td>
                </tr>
                    
                 <tr >
                    <td><input type="submit" value ='save' class='btn-save'></td>
                </tr>     
            </table>
        </form>
    </div>    
</section>
{% endblock body %}