{% extends 'enterprise/enterprise_base.html' %}
{% load static %}

{% block title %}
    Update Product
{% endblock title %}

{% block body %}
<section class="conatiner-fluid">
    <div class=" container page-header">
      <h6>Update Products</h6>
    </div>
    <div class="container">
        <form enctype="multipart/form-data" method="POST"  class="add-item">
            {% csrf_token %}
            <table cellpadding="10px">  
                     {{ form.as_table }}  
                 <tr>
                    <td><input type="submit" name='save' value='save' class='btn-save'></td>
                    <td><input type="submit" name='delete' value='Delete' class='btn-delete'></td>
                </tr>     
            </table>
        </form>
    </div>    
</section>
{% endblock body %}