{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot|Password{% endblock title %}
{% block head %}
	<link rel="stylesheet" href={% static 'css/login.css'%}>
{% endblock head %}


{% block body %}
<section class="main-bg">
		<div class="login-container  ">
            <p class="text-c">Email-verification</p>
            <div class="container-content">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}

                <form class="margin-t" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-mail" name="email" id="email">
                    </div>
                    <div class="text-c">
                        <button type="submit" class="form-button button-l margin-b ">send otp</button>  
                    </div>
                </form>
            </div>
		</div>
</section>
{% endblock body %}