{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Shop admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Shop administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'admin:login' %}">{% translate 'Log in' %}</a></p>

{% endblock %}
