{% extends 'base.html' %}
{% load static %}

{% block title %}Change|Password{% endblock title %}
{% block head %}
	<link rel="stylesheet" href={% static 'css/login.css'%}>
{% endblock head %}


{% block body %}
<section class="main-bg">
		<div class="login-container  ">
            <p class="text-c">Change-Password</p>
            <div class="container-content">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}

                <form class="margin-t" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Old Password" name="old_password" id="password">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" name="new_password" id="password">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" id="confirmpassword">
                    </div>
                    <div class="text-c">
                        <button type="submit" class="form-button button-l margin-b ">Save</button>  
                    </div>
                </form>
            </div>
		</div>
</section>
{% endblock body %}